.section-outer {}

.section-inner {
    width: 1180px;
    margin: 0 auto;
}

.section-header {
    color: #000000;
    background: url('../img/Rectangle 3.png');
    background-size: cover;
    position: relative;
}

.section-header .section-inner {
    height: 100vh;
    position: relative;
    z-index: 10;
}

.section-header::before {
    content: '';
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(213,32,71, .8);
}